{% extends 'layout.html' %}
{% set pageTitle = "Do you know the member's NHS Pensions membership number?"%}

{% block pageTitle %}
{{pageTitle}} - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-form-group">

        <form action="/v1/membership-number" method="post">

          {% set sdNumberHtml %}
            {{ input({
              id: "sdNumber",
              name: "sdNumber",
              classes: "nhsuk-u-width-two-thirds",
              label: {
                text: "Membership number"
              }
            }) }}
          {% endset -%} 

          <span class="nhsuk-caption-l nhsuk-caption--bottom">Details</span>
          {{ radios({
            idPrefix: "membership-number",
            name: "membership-number",
            classes: "nhsuk-radios--inline",
            fieldset: {
              legend: {
                text: pageTitle,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            },
            hint: {
              text: "This is an 8 digit number, which may start with 'SD'.  You can find it on payslips, annual benefit statements, Total Reward Statements, or any letters from us"
            },
            items: [ 
              {
                value: "Yes, I know my membership number",
                text: "Yes, I know the membership number",
                conditional: {
                  html: sdNumberHtml
                }
              
              },
              {
                value: "No, I do not know my membership number",
                text: "No, I do not know the membership number"
              },
              {
                value: "I'm not sure",
                text: "I'm not sure"
              }
            ]
          }) }}
          
          <br/>

          {% call details({
            summaryText: "What details should you enter for a pension credit member or someone who's died?"
          }) %}
            <p>If you're using this service for a pension credit member or someone who's died, enter their own NHS Pensions membership number. Do not enter the former spouse's or the designated person's membership number.</p>
          {% endcall %}
          
          
  
          {{ button({
          "text": "Continue"
          }) }}
        </form>

      </div>
    </div>  
  </div>
{% endblock %}
