<!-- Hide Back Link on this page -->
{% set hideBack = true %}

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="not-affected-by-mccloud" method="post">

      <!-- heading of pace-->
      <h1>
        This member is not due a Remediable Service Statement (RSS)
      </h1>

      <p>
        We'll not send an RSS for this member. This could be because they are <a href="https://www.nhsbsa.nhs.uk/public-service-pensions-remedy-mccloud/understanding-if-your-nhs-pension-affected-changes-public-sector-pensions" target="_blank">not affected by the Public Service Pensions Remedy (opens in a new tab)</a>.
      </p>

      <h2>Pension credit members</h2>

      <p>If the pension credit member has an NHS Pension through divorce or dissolution, they'll not receive an RSS.</p>
      <p>If the former spouse is affected by the Public Service Pensions Remedy, we'll review the pension credit member's benefits. We'll send a letter explaining whether the pension credit amount changes or stays the same.</p>

      <h3>
        If you need help
      </h3>
      <p>If you believe the member is due an RSS, you can <a href="https://www.nhsbsa.nhs.uk/pensioner-hub/contact-nhs-pensions-pensioners" target="blank" class="nhsuk-link">contact us (opens in new tab) </a>.</p>

      <h3>
        Feedback
      </h3>

      <p>
        <a href="" target="blank" class="nhsuk-link">Tell us about your experience using this service (opens in new tab)</a>
      </p>     

      </form>

      <!-- End of content -->
   
    </form>
    </div>  

  </div>
{% endblock %}

