<!-- Hide Back Link on this page -->
{% set hideBack = true %}

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="start" method="post">

      <!-- Change the page heading -->
      <h1>
        {{ serviceName }}
      </h1>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p>You can use this service to find out when you will receive your public service pensions remedy pack, sometimes known as the McCloud remedy.</p>
      
      <h3>
        Before you start
      </h3>

      <p>
        As a member, we'll ask you for your:
      </p>

      <ul>
        <li>membership number or national insurance number</li>
        <li>date of birth</li>
      </ul>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Start now
      </button>

      <!-- End of content -->
   
    </form>
    </div>  

  </div>
{% endblock %}
