<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/assets/sass/main.css" rel="stylesheet">
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    service: {
      text: serviceName,
      href: "/"
    }
  }) }}

  <div class="beta-banner">
    <div class="nhsuk-width-container">
        <p class="nhsuk-phase-banner__content">
            <strong class="nhsuk-tag nhsuk-phase-banner__content__tag">
                Beta
            </strong>
            <span class="nhsuk-phase-banner__text">
                This is a new service - your <a class="nhsuk-link" href="#">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>
  </div>

  {% from 'back-link/macro.njk' import backLink %}
  {% if not hideBack %}
    <div class="nhsuk-width-container">
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Back"
      }) }}
    </div>
  {% endif %}

{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    meta: {
      html: '
        <ul class="nhsuk-footer__list">
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="/" target="_blank" rel="noopener noreferrer">Accessibility statement</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="cookies/cookie-information" rel="noopener noreferrer">Cookies</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://www.nhsbsa.nhs.uk/our-policies/privacy" target="_blank" rel="noopener noreferrer">Privacy policy</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="https://www.nhsbsa.nhs.uk/our-policies/terms-and-conditions" target="_blank" rel="noopener noreferrer">Terms and conditions</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="/prototype-admin/reset?returnPage=' + (currentPage | urlencode) + '">Reset data</a>
          </li>
        </ul>
      '
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="/assets/javascript/main.js"></script>
  {% block pageScripts %}{% endblock %}
{% endblock %}
